extends layout

block content
  h1= title
  p Welcome to #{title}
  each message in messages
    p #{message.user} = #{message.text}
  .button-container
   a(href="http://localhost:${process.env.PORT || 3000}/new"): button.compose= "New message"
